body{
    padding: 2% 5%;
    font-family: 'Nunito', sans-serif;
    background-color: azure;
}

h1{
    font-family: 'Rhodium Libre', serif;
}

h2{
    font-family: 'Fredoka One', cursive;
}

#logo{
    height: 100%;
    float: left;
}

#header{
    height: 75px;
    padding: 2%;
}

a{
    text-decoration: none;
    color: grey;
}

#navbar {
	padding: 0px;
    float: right;
}

	.navlinks a {
		display: inline-block;
		letter-spacing: 2px;
		margin: 20px 20px 0 0;
        opacity: 0.8;
        transition: 0.2s;
        -moz-transition: 0.2s;
	}

    .navlinks .current {
		padding-bottom: 2px;
		border-bottom: 1px solid #ccc;
	}


    .navlinks a:hover {
        opacity: 1;
	}


.button{
    width: 150px;
    padding: 15px 50px;
    color: white;
    border: 2px solid white;
}

#footer{

}