body{
    padding: 5%;
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Rhodium Libre', serif;
}

h2{
    font-family: 'Fredoka One', cursive;
}

#header{
    height: 200px;
    text-align: center;
    padding: 2%;
}

#logo{
    height: 60%;
}

#banner{
    height: 50%;
}

#footer{

}