@font-face {
    font-family: kenyan;
    src: url("kenyan coffee rg.ttf");
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.4s;
        -moz-transition: 0.4s;
}

#splash1{
    background: url('img/productshot/computerall.jpg') no-repeat center top;
    background-size: cover;
    height: 750px;
        
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splash-quote-div{
    margin: 150px 40px;
    float: right;
}

#splash2{
    background: url('img/productshot/persistholdart.jpg') no-repeat center top;
    background-size: cover;
    height: 800px;
    
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splash2-quote-div{
    margin: 150px 40px;
    float: left;
}

#splash-quote{
    width: 430px; 
    font-size: 26pt;
    line-height: 35pt;
    text-align: center;
    margin: 15px;
}

a{
    color: #458989;
}

.container{
    text-align: center;
    margin:auto;
}

.chevron {
    width: 100%;
    text-align: center;
    position: absolute;
	bottom: 150px;
    opacity: 0.7;
    transition: 0.2s;
}

.chevron:hover {
	opacity: 1;
}

.chevron>i {
	margin-bottom: 20px;
	font-size: 2rem;
	transition: 0.2s ease;
}
.chevron>i:hover {
	/*color: #FDBD10;*/
	opacity: 1;
	text-shadow: 0 0 2px #fff;
	cursor: pointer;
	transition: 0.2s ease;
}