@font-face {
    font-family: kenyan;
    src: url("kenyan coffee rg.ttf");
}
body{
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: ;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #444;
}

h1{
    font-family: kenyan, serif;
    letter-spacing: 1px;
    color: #458989;
}

.logo{
    height: 50px;
    padding: 0px 40px;
    transition: 0.2s;
        -moz-transition: 0.2s;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.4s;
        -moz-transition: 0.4s;
    height: 90px;
    padding: 20px 0px;
}

.splash{
    text-align: center;
    background: #fff url('img/placeholder.jpg') no-repeat;
	background-position: 50% 40%;
	background-size: 100vw;
	height: 200px;
	padding: 30px;
	vertical-align: middle;
}
	#splash-about {
		background: #25aacf url('img/background.jpg') no-repeat;
        background-position: 50% 70%;
		background-size: 100vw;
	}

	#splash-breakdown {
		background: #ef6738 url('img/header-orange.jpg') no-repeat;
		background-position: 50% 40%;
	}

a{
    text-decoration: none;
    color: #eee;
}

.navbar {
	padding: 0px 40px;
    
}

	.navlinks a {
		display: inline-block;
		letter-spacing: 2px;
		margin: 15px 10px;
        opacity: 0.8;
        transition: 0.2s;
        -moz-transition: 0.2s;
	}

    .navlinks .current {
		padding-bottom: 2px;
		border-bottom: 1px solid #ccc;
	}


    .navlinks a:hover {
        opacity: 1;
	}

.container{
    padding: 30px;
    padding-bottom: 50px;
}

.button{
    letter-spacing: 2px;
    width: 150px;
    padding: 8px 40px;   
    font-size: 15px;
    border-radius: 10px;
    background-color: #458989;
    color: #ffffcc;
    transition: 0.2s;
        -moz-transition: 0.2s;
}

.button:hover{
    border: 1px solid #ffefbb;
    background-color: #458989;
    color: #ffefbb;
}

.title{
    font-family: kenyan, serif;
    letter-spacing: 1px;
    color: #ffefbb;
    margin: 15px;
    font-size: 40pt;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
}

.gallery img {
    margin: 20px 40px;
}

.sticker{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.team{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


.footer{
    padding: 20px;
    height: 80px;
    background-color: #222;
    color: #888;
    font-size: 12px;
}

.media-links img {
	margin: 10px;
	width: 30px;
	opacity: .5;
	transition: .5s;
    -moz-transition: .5s;
}

.media-links img:hover {
	opacity: 1;
}


#private-side{
    height: 60px;
    float:right;
    position: fixed;
    right: 10px;
    bottom: 10px;
}